services:
  ollama:
    volumes:
      - ollama:/root/.ollama
    container_name: ollama
    pull_policy: always
    tty: true
    restart: unless-stopped
    image: ollama/ollama:${OLLAMA_DOCKER_TAG-latest}

  open-webui:
    build:
      context: .
      dockerfile: Dockerfile
    image: ghcr.io/open-webui/open-webui:${WEBUI_DOCKER_TAG-main}
    container_name: open-webui
    volumes:
      - open-webui:/app/backend/data
    depends_on:
      - ollama
    ports:
      - 4010:8080
    environment:
      - 'OLLAMA_BASE_URL=http://ollama:11434'
      - 'WEBUI_SECRET_KEY='
      - 'KNESS_APP_API_BASE_URL=https://dev-test.kness.team/kness-app-api'
      - 'OPEN_WEB_UI_API_BASE_URL=https://dev-test.kness.team/open_web_ui_api'
    extra_hosts:
      - host.docker.internal:host-gateway
      - dev-test.kness.team:host-gateway
    restart: unless-stopped

volumes:
  ollama: {}
  open-webui: {}
